<div>
    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
          </tr>
        </tbody>
      </table>
  
    <h3>Get User by ID</h3>
    <input type="number" [(ngModel)]="getId">
    <button (click)="getUserById()">Get User</button>
    <div *ngIf="selectedUser">
        <p>Id: {{ selectedUser.id }}</p>
        <p>Name: {{ selectedUser.name }}</p>
        <p>Email: {{ selectedUser.email }}</p>
    </div>
  
    <h3>Delete User by ID</h3>
    <input type="number" [(ngModel)]="getId">
    <button (click)="deleteUserById()">Delete User</button>
  
    <h3>Add User</h3>
    <input type="text" [(ngModel)]="newUser.name" placeholder="Name">
    <input type="email" [(ngModel)]="newUser.email" placeholder="Email">
    <button (click)="addUser()">Add User</button>
  
    <h3>Update User</h3>
    <input type="number" [(ngModel)]="updateUser.id" placeholder="ID">
    <input type="text" [(ngModel)]="updateUser.name" placeholder="Name">
    <input type="email" [(ngModel)]="updateUser.email" placeholder="Email">
    <button (click)="updateUserById()">Update User</button>
</div>